.global-container{
    width: 100%;
}

.container{
    width: 100%;
}

.image {
    width: 100%;
    height: 500px;
    filter: grayscale(100%);
    object-fit: cover;
    image-rendering: optimizeSpeed;
}

.focus-image{
    opacity: 1;
    filter: grayscale(0%);
    transition: all 0.5s ease;
}

.blur-image{
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.image-group{
    display: grid;
}

@media (max-width: 1920px) {
    .image-group{
        grid-template-columns: repeat(4, 1fr);
        transition: all 0.5s ease-in-out;
    }
}