.container{
    height: 100%;
    padding: 3rem;
    overflow: auto;
}

.principal{
    background-color: white;
    padding: 2rem;
}

.our-services h2{
    font-size: 2rem;
    font-weight: 500;
}

.our-services p{
    font-size: 1.3rem;
    color: #ababab;
    line-height: 2;
}

.services-group{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.card-service{
    width: 350px;
    padding: 2rem;
    text-align: center;
}

.card-header i{
    font-size: 3rem;
    padding: 3rem;
    border: 1px solid #5f5f5f;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.card-header i:hover{
    background-color: #313131;
    color: white;
    transition: all 0.5s;
}

.card-body h3{
    font-size: 1.6rem;
    font-weight: 500;
}

.card-body p{
    font-size: 1.2rem;
    color: #ababab;
    line-height: 2;
}

.choose h2{
    font-size: 2rem;
    font-weight: 500;
}

.choose-group{
    display: grid;
    grid-template-columns: repeat(4, auto);
    transition: all 0.5s ease-in-out;
}

.choose-group h3{
    padding: 1.4rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #dddddd;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.choose-group h3:hover{
    background-color: #ffed27;
    transition: all 0.5s;
}

.choose-text{
    padding: 2rem;
    border: 1px solid #dddddd;
}

.choose-text p{
    font-size: 1.3rem;
    color: #ababab;
    line-height: 2;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1440px) {
    .services-group{
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
}
@media screen and (max-width: 1366px) {
    .services-group{
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
    .choose-group{
        display: grid;
        grid-template-columns: repeat(2, auto);
        transition: all 0.5s ease-in-out;
    }
    .choose-group h3{
        font-size: 1rem;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 720px) {
    .services-group{
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
    .choose-group{
        display: grid;
        grid-template-columns: repeat(1, auto);
        transition: all 0.5s ease-in-out;
    }
}